* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: cadetblue;
    font-family: sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 4em;
    background: burlywood;
    color: black;
    padding: 1rem;
    text-align: center;
}